################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/multiselect/.vs/multiselect
/multiselect/sampledb/sampledb.dbmdl
/multiselect/sampledb/sampledb.jfm
