@model hurricanesGUI.Models.HurricaneViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit hurricane <strong>@Model.Name</strong></h2>
<hr />

@using (Html.BeginForm("Edit", "Hurricanes", method: FormMethod.Post)) {
    @Html.EditorForModel("Hurricane", new { AvailableCounties = ViewData["AvailableCounties"], NamePrefix = ViewData["NamePrefix"]})

    <div class="form-group" style="margin-top: 1em;">
        <input type="submit" class="btn btn-sm btn-success" value="Save" />
    </div>
}

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
