@page "{id:int}"
@model sampleGUI.Pages.Hurricanes.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Hurricane <strong>@Model.Hurricane.Name</strong></h1>
<hr/>

<form method="post">
    @Html.EditorFor(m => m.Hurricane, new { Counties = Model.AvailableCounties })
    <div class="form-group" style="margin-top: 1em;">
        <button type="submit" class="btn btn-sm btn-success">
            <i class="fa fa-save"></i> Save
        </button>
    </div>
</form>

